<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta name="description" content="A running total of all the tapas we consume while living in Spain">

    <title>The Official Scott & Alanna Andalucian Tapas Tally 2016</title>

    <meta property="og:url" content="http://tapas.larutadelmahr.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="The Official Scott & Alanna Tapas Tally 2016">
    <meta property="og:image" content="http://1feb14f2ae6bd509e324-86b7d0af7bcdc7047f4b69c520d7aac6.r50.cf5.rackcdn.com/tapas_og.png">
    <meta property="og:description" content="A running total of all the tapas we consume while living in Spain">
    <meta property="og:site_name" content="The Official Scott & Alanna Tapas Tally 2016">

    <meta itemprop="name" content="The Official Scott & Alanna Tapas Tally 2016">
    <meta itemprop="description" content="A running total of all the tapas we consume while living in Spain">
    <meta itemprop="image" content="http://1feb14f2ae6bd509e324-86b7d0af7bcdc7047f4b69c520d7aac6.r50.cf5.rackcdn.com/listening_og.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500|Source+Serif+Pro:600,700" rel="stylesheet">
  </head>
  <body>
    <div id="app"></div>

    <% if (htmlWebpackPlugin.options.isProduction) { %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '<%= htmlWebpackPlugin.options.analyticsKey %>', 'auto');
        ga('send', 'pageview');

      </script>
    <% } %>
  </body>
</html>
