@import '../../../styles/resources';

.app-window {
  display: flex;
  position: relative;
  flex: 1 1 auto;
  height: 100%;
  margin: 0 $gutter $gutter;
  background: white;
  border-radius: 2px;
  border: $border-width solid $white;
}
