@import "../../../styles/resources";

.outer {
  position: relative;
  z-index: 1;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: hidden;

  @media (max-width: $screen-small - 1) {
    margin: 0 ($gutter / 2) ($gutter * 1.5);
    transition: margin-bottom 0.3s ease;
  }

  @media (min-width: $screen-small) {
    margin: 0 $gutter ($gutter * 1.5);
  }
}

.outer-active {
  composes: outer;

  @media (max-width: $screen-small - 1) {
    margin-bottom: $gutter * 2.5;
    transition-delay: 0.45s;
  }
}

.inner {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  background: $white;
  border: $border-width solid $grey-light;
}

.loader {
  @extend %smallcaps;
  position: absolute;
  top: -1 * $border-width;
  right: -1 * $border-width;
  bottom: -1 * $border-width;
  left: -1 * $border-width;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $grey;
  background-color: $white;
  border: $border-width solid $grey-light;

  &:global(.loader-leave) {
    opacity: 1;
  }

  &:global(.loader-leave-active) {
    opacity: 0;
    transition: all 0.2s ease-in 0.3s;
  }
}
