@import "../../../styles/resources";

@mixin sidebar-widths {
  width: calc(50vw + #{$gutter / 2});

  @media screen and (min-width: $screen-medium) {
    width: calc(40vw + #{$gutter / 2});
  }
}

.sidebar {
  @include sidebar-widths;
  position: relative;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  &:global(.sidebar-enter) {
    width: 0;
  }

  &:global(.sidebar-enter-active) {
    @include sidebar-widths;
    transition: all 0.5s $ease;
  }

  &:global(.sidebar-leave) {
    @include sidebar-widths;
  }

  &:global(.sidebar-leave-active) {
    width: 0;
    transition: all 0.5s $ease;
  }
}


.sidebar-inner {
  @include sidebar-widths;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: 100%;

  .sidebar-enter & {
    opacity: 0;
  }

  .sidebar-enter-active & {
    opacity: 1;
    transition: opacity 0.4s $ease 0.2s;
  }

  .sidebar-leave & {
    opacity: 1;
  }

  .sidebar-leave-active & {
    opacity: 0;
    transition: all 0.4s $ease;
  }
}

.heading {
  flex: 1 0 auto;
  padding: $gutter;
  border-bottom: $border-width solid $white;
}

.list {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.scroll-container {
  height: 100%;
  padding: 0 $gutter;
  overflow-y: auto;
}

.link {
  display: block;
}

.title {
  @extend %heading1;
  margin: 6px 0 ($gutter / 2);
  color: $cadet;
}

.detail {
  @extend %smallcaps;
  display: inline-block;
  color: $grey-dark;

  strong {
    font-weight: 600;
    color: $black;
  }
}

.separator {
  @extend %smallcaps;
  display: inline-block;
  margin: 0 0.5em;
  color: $grey;
}
