@import "../../../styles/resources";

.nav {
  display: flex;

  @media (max-width: $screen-medium - 1) {
    flex: 0 0 auto;
  }

  @media (min-width: $screen-medium) {
    position: fixed;
    top: $gutter;
    right: $gutter;

    :global(.sidebar-enter) & {
      opacity: 0;
      transform: translateX(50%);
    }

    :global(.sidebar-enter-active) & {
      opacity: 1;
      transform: translateX(0);
      transition: all 0.3s ease-out 0.1s;
    }

    :global(.sidebar-leave) & {
      opacity: 1;
      transform: translateX(0);
    }

    :global(.sidebar-leave-active) & {
      opacity: 0;
      transform: translateX(50%);
      transition: all 0.3s ease-in;
    }
  }

}

.button {
  @extend %reset-button;
  flex: 0 0 auto;
  padding: 6px;
  font-size: 18px;
  border-radius: 2px;

  svg {
    width: 12px;
    height: 12px;
    vertical-align: bottom;
  }

  @media (max-width: $screen-medium - 1) {
    flex: 1 0 auto;
    margin-left: $border-width;
    background: $grey-light;

    polyline,
    line {
      stroke: $white;
    }

    // &:hover {
    //   background: $white;

    //   polyline,
    //   line {
    //     stroke: $ocean;
    //   }
    // }
  }

  @media (min-width: $screen-medium) {
    margin-left: $gutter / 2;
    background: transparent;
    border: $border-width solid $grey-light;

    svg {
      width: 10px;
      height: 10px;
    }

    polyline,
    line {
      stroke: $grey;
    }

    &:hover {
      background: $grey;
      border-color: $grey;

      polyline,
      line {
        stroke: $white;
      }
    }
  }
}

.prev {
  composes: button;
}

.next {
  composes: button;
}

.close {
  composes: button;
}
