@import "../../../styles/resources";

.nav {
  display: flex;

  @media (max-width: $screen-medium - 1) {
    flex: 0 0 auto;
  }

  @media (min-width: $screen-medium) {
    position: fixed;
    top: $gutter;
    right: $gutter;
  }
}

.button {
  @extend %reset-button;
  flex: 0 0 auto;
  font-size: 18px;
  padding: 6px;
  border-radius: 2px;

  svg {
    width: 12px;
    height: 12px;
    vertical-align: bottom;
  }

  @media (max-width: $screen-medium - 1) {
    flex: 1 0 auto;
    background: $grey-light;
    margin-left: $border-width;

    polyline,
    line {
      stroke: $white;
    }

    // &:hover {
    //   background: $white;

    //   polyline,
    //   line {
    //     stroke: $ocean;
    //   }
    // }
  }

  @media (min-width: $screen-medium) {
    background: transparent;
    border: $border-width solid $white;
    margin-left: $gutter / 2;

    svg {
      width: 10px;
      height: 10px;
    }

    polyline,
    line {
      stroke: $white;
    }

    &:hover {
      background: $white;

      polyline,
      line {
        stroke: $ocean;
      }
    }
  }
}

.prev {
  composes: button;
}

.next {
  composes: button;
}

.close {
  composes: button;
}
