@import "../../../styles/resources";

.pin {
  position: relative;
  width: 22px;
  height: 22px;
  background: $orange;
  border: 2px solid darken($orange, 5%);
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  background-clip: content-box;

  &:hover {
    cursor: pointer;
  }

  &::after {
    position: absolute;
    top: -15px;
    left: -15px;
    z-index: -1;
    display: block;
    width: 48px;
    height: 48px;
    pointer-events: none;
    background: rgba($black, 0.1);
    border-radius: 50%;
    content: "";
    transform: scale(0);
    transition: all 0.2s $ease;
  }

  @media (min-width: $screen-small) {
    width: 16px;
    height: 16px;

    &::after {
      top: -18px;
      left: -18px;
    }
  }
}

.active {
  composes: pin;
  z-index: 1;
  border-color: darken($orange, 10%);

  &::after {
    transform: scale(1);
  }
}
