@import '../../../styles/resources';

.pin {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: $orange;
  border: 1px solid darken($orange, 5%);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);

  &:hover {
    cursor: pointer;
  }
}

.active {
  composes: pin;
  width: 20px;
  height: 20px;
  border-width: 4px;
  transform: translate3d(-2px, -2px, 0);
}
