@import "../../../styles/resources";

.footer {
  position: fixed;
  z-index: 1;
  display: flex;
  color: $grey;

  @media (max-width: $screen-small - 1) {
    right: $gutter / 2;
    bottom: 10px;
    left: $gutter / 2;
    justify-content: center;
    font-size: 12px;
  }

  @media (min-width: $screen-small) {
    right: $gutter;
    bottom: 7px;
    left: $gutter;
    justify-content: space-between;
    font-size: 11px;
  }

  a {
    color: mix($black, $grey, 10%);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.left {
  display: block;
  transform: translateY(0);
  transition: transform 0.2s ease;
}

.left-hidden {
  composes: left;

  @media (max-width: $screen-small - 1) {
    transform: translateY(200%);
  }
}

.about-toggle {
  @extend %reset-button;
  color: $cadet;
}

.right {
  display: block;

  @media (max-width: $screen-small - 1) {
    display: none;
  }
}

.sep {
  display: inline-block;
  margin: 0 10px;
}
