@import "../../../styles/resources";

.header {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  padding: 14px $gutter;
  color: mix($white, $grey-dark, 20%);

  @media screen and (min-width: $screen-small) {
    padding-top: $gutter;
    padding-bottom: $gutter;
  }
}

.heading {
  @extend %smallcaps;

  @media (max-width: $screen-medium - 1) {
    line-height: 1.4;
    text-align: center;
  }

  @media (min-width: $screen-medium) {
    line-height: $gutter + ($border-width * 2) + 2;

    br {
      display: none;
    }
  }
}

.icon {
  position: relative;
  top: -1px;
  margin-right: 10px;
  vertical-align: middle;
  fill: currentColor;

  @media (max-width: $screen-medium - 1) {
    width: 22px;
    height: 22px;
  }

  @media (min-width: $screen-medium) {
    width: 16px;
    height: 16px;
  }
}
