@import "../../../styles/resources";

.header {
  flex: 0 1 auto;
  padding: $gutter;
  color: $white;
}

.heading {
  font-size: 16px;
  font-weight: normal;
  line-height: $gutter + ($border-width * 2) + 2;

  @media (max-width: $screen-medium - 1) {
    text-align: center;
  }

  @media (min-width: $screen-medium) {

  }
}
