@import "~normalize.css/normalize";
@import "./resources";

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  color: $black;
  font-size: 14px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 $gutter $gutter;
  height: 100%;
}
