@import "~normalize.css/normalize";
@import "./resources";

html {
  font-size: 14px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  font-family: $body-font;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}

img {
  max-width: 100%;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $white;
}

.footer {
  position: fixed;
  right: $gutter;
  bottom: 7px;
  font-size: 11px;
  color: $grey;

  @media (max-width: $screen-small - 1) {
    display: none;
  }

  a {
    color: mix($black, $grey, 10%);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.sep {
  display: inline-block;
  margin: 0 10px;
}

