$body-font: "Roboto";
$heading-font: "Source Serif Pro";

$white: #FFFFFF;
$cadet: #6195a0;
$black: #040403;
$orange: #E6AF2E;
$grey-light: mix($black, #F5F5F2, 2%);;
$grey: mix($black, $grey-light, 5%);
$grey-dark: #373F51;

$gutter: 18px;
$border-width: 2px;

$screen-small: 500px;
$screen-medium: 660px;
$screen-large: 1200px;

$ease: cubic-bezier(0.645, 0.045, 0.355, 1);

%reset-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;

  &:focus {
    outline: 0;
  }
}

%heading1 {
  font-family: $heading-font;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.025em;

  @media screen and (min-width: $screen-small) {
    font-size: 36px;
    font-weight: 600;
  }
}

%heading2 {
  font-family: $heading-font;
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
}

%smallcaps {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@mixin sidebar-widths {
  width: calc(100vw - #{$gutter} - #{$border-width * 2});

  @media screen and (min-width: $screen-small) {
    width: calc(50vw - #{$gutter / 2});
  }

  @media screen and (min-width: $screen-medium) {
    width: calc(38.2vw - #{$gutter / 2});
  }

  @media screen and (min-width: $screen-large) {
    width: calc(33.33vw - #{$gutter / 2});
  }
}
