
.enter {
  transform: translateX(100%);
}

.enter.enterActive {
  transform: translateX(0);
  transition: all 0.5s ease-in;
}

.leave {
  transform: translateX(0);
  transition: all 0.5s ease-in;
}

.leave.leaveActive {
  opacity: 0.01;
  transform: translateX(100%);
}

