@import '../../../styles/resources';

.container {
  margin-bottom: $gutter * 3;

  &:last-child {
    margin-bottom: $gutter * 2;
  }
}

.info {
  display: block;
}

.image {
  position: relative;
  display: block;
  margin-bottom: $gutter / 2;
}

.rating-container {
  position: absolute;
  right: $gutter / 2;
  bottom: $gutter / 2;
  display: flex;
  padding: 5px ($gutter / 2);
  color: $cadet;
  background: $white;
}

.star {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: bottom;
  fill: $grey;

  path {
    transform: translate3d(0,0,0);
  }

  &:last-child {
    margin-right: 0;
  }
}

.star-full {
  composes: star;
  fill: $orange;
}

.star-empty {
  composes: star;
}

.full-half {
  fill: $orange;
}

.title {
  @extend %heading2;
  margin: 0.25em 0;
  color: $grey-dark;
}

.date {
  @extend %smallcaps;
  color: $grey-dark;
}
